# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log

# Secrets
.env
.env.*
*.pem
*.key
*.pfx
secrets/
credentials/

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Node / Frontend
node_modules/
dist/
build/

# Ansible
*.retry
ansible/inventory.ini
ansible/group_vars/*/vault.yml

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db